# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
venv/
env/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations cache
**/migrations/*.pyc